[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Host Minder
Comment=A graphical tool to setup a consolidated /etc/hosts file to block unwanted websites.
Exec=hostminder
Icon=hostminder.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;System;Settings;
Name[en_US]=Host Minder
